# top-most EditorConfig file
root = true

[*.md]
charset = utf-8-bom
end_of_line = lf

# C# files
[*.cs]
charset = utf-8

# Compute shader files
[*.compute]
charset = utf-8

# Shader files
[*.shader]
charset = utf-8
